*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.main{
    font-family: Poppins;
    width:100%;
}
.services{
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.predictor-form{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #74b9ff;
    padding: 20px;
    width: 700px;
    color: #fff;
    border-radius: 4px;
    margin: 10px 0px;
}
.predictor-form input,select{
    height: 40px;
    width: 300px;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.predictor-form button{
    background-color: #f39c12;
    padding: 10px 20px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-family: Poppins;
}
.result{
    background-color: #bdc3c7;
    padding: 10px;
    margin: 10px 0px;
    color: #fff;
    width: 700px;
}